<div *ngIf="listadoCitas.length === 0" class="card bg-ligth">
  <div class="card-body">
    <h3 class="card-title text-center">No hay citas para mostrar</h3>
  </div>
</div>
<div *ngIf="listadoCitas.length >0" class="container-citas">
  <button type="button" class="btn btn-secondary" (click)="onSort()" >Ordernar</button>
  <button type="button" class="btn btn-secondary ms-2" (click)="unSort()" >Sin Orden</button>
  <div *ngFor="let cita of listadoCitas; let i = index" class="bg-body m-4">
    <p class="card-text"><span>Nombre..:</span>{{cita.nombre}}</p>
    <p class="card-text"><span>Fecha...:</span>{{cita.fecha}}</p>
    <p class="card-text"><span>Hora....:</span>{{cita.hora}}</p>
    <p class="card-text"><span>Sintomas:</span>{{cita.sintomas}}</p>
    <button style="width: 100%;" (click)="eliminarCita(i)" class="btn btn-danger btn-block">ELIMINAR</button>
  </div>
</div>

